body{
	text-align: center;
	font-size: 13px
}
#tip{
	position: absolute;top: 360px;
	margin-left: 40px;padding: 5px;
}
.focus{
	border: 3px solid #666;
}
.defalut{
	border: solid 1px #ccc;
}
ul{
	display: block;
	list-style-type: none;
	padding-left: 320px;
	margin: 0px;
	width: 80px;
	position: absolute;
	top: 8px;
}
ul li{
	text-align: left;
	padding: 5px;border-bottom: solid 1px #ccc;
	background-color: #eee;
	height: 18px;
	line-height: 18px;
	cursor:pointer;
}
.ulimg{
	margin-top: 86px;
}
.ulimg li{
	padding: 0px;
	width: 80px;
	height: 80px;
	margin-top: 5px;
	background-color: #fff;
}
.img{
	width: 76px;
	height: 76px;
	padding: 2px;
}
#indexjigsaw{
	margin: 0 auto;
	width: 406px;
}
#gamePanelContainer{
	background-color: #eaeaea;
	border: 1px solid #666;
	padding: 3px;
	width: 290px;
	height: 218px;
}